<div class="col-md-2 bg-dark min-vh-100">

<ul class="nav flex-column mt-4">

<li class="nav-item">

<a class="nav-link text-white" href="#">

🏠 Dashboard

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

📄 Resume

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

📊 ATS Analysis

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

💼 Job Roles

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

🎓 Courses

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

📑 Reports

</a>

</li>

<li>

<a class="nav-link text-white" href="#">

⚙ Profile

</a>

</li>

<li>

<a class="nav-link text-danger" href="#">

🚪 Logout

</a>

</li>

</ul>

</div>